/* font-family: 'Comfortaa', cursive;
font-family: 'Josefin Sans', sans-serif; */

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 100px;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    line-height: 90px;
}
h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    /* line-height: 70px; */
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.hidden{ display: none;}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-full{
    display: grid;
    grid-template-columns: 1200px;
}

.grid {
    display: grid;
    padding: 0 15px;
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
}

/* header */

.headerCon {height: 120px; }

#logo {
    grid-column: 1/4;
    margin-top: 12px;
}

.mainNav {
    margin: 35px 0 25px 30px;
    grid-column: 7/-1;
}

menu {
    list-style-type: none;
    display: inline-flex;
}

menu li a {
    text-decoration: none;
    color: white;
    background: #666;
    border-radius: 35rem; 
    margin-left: 30px;
    padding: 1.66rem .83rem;
}

/* main */

/*** hero ***/
.mainHero { height: 825px; }

.heroOverlay {
    background-image: url("https://via.placeholder.com/1200x800/b1b1b1/efefef");
    margin-top: -120px;
}

.heroOverImg {
    margin-top: 154px;
    margin-bottom: -30px;
    grid-column: 5/8;
    grid-row: 1/5;
}

.heroText {
    grid-column: 6/12;
    text-align: center;
    grid-row: 2/3;
    color: white;
}

/** backdrop **/

.backdrop {
    background-image: url("https://via.placeholder.com/1200x3082/b1b1b1/efefef");
}

/*** advert ***/

.adQuote { grid-column: 2/9;}

.adQuote h2 { margin-bottom: 0px;}

.commercial { grid-column: 2/12; }

/*** info ***/

.quatroInfoCon {
    background: #ffffff82;
    margin-top: 45px;
    padding-top: 115px;
}

.infoImg { grid-column: 2/6; }

.infoText {
    grid-column: 7/12;
    text-align: right;
}

.infoText h2 { 
    margin: 0;
}

.infoText h3 { 
    line-height: normal;
    margin: 0;
    padding: 0;
}


/*** flavour ***/

.flavHeadingCon {
    background: #ffffff82;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flavHeadingCon h2 {
    grid-column: 2/12;
    text-align: center;
}

.leftHang, .rightHang {
    width: 1200px;
    height: 220px;
}
.leftHang img {
    grid-column: 1/3;
    margin-top: -56px;
}
.rightHang img {
    grid-column: 10;
    margin-left: 70px;
    margin-top: -56px;
}
.flavTextLt {
    grid-column-start: 3;
    margin-left: 20px;
    align-self: left;
}

.flavTextRt {
    grid-column: 7;
    margin-right: 20px;
    text-align: right;
}

#textLito span1 {
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 90px;
    margin-left: 25px;
}

#textLito span2 {
    font-size: 120px;
    font-family: 'Comfortaa', cursive;
    margin-left: 60px;
}

.flavText {
    font-family: 'Comfortaa', cursive;
    font-size: 145px;
    line-height: 40px;

}

/*** Sustainable Packaging ***/

.sustainCon { 
    margin-top: 160px; 
    background: url("https://via.placeholder.com/515x705/838383/efefef") no-repeat;
    height: 705px;
}


#susText { 
    grid-column: 5/12;
}

#susText h2, h3 {
    text-align: right;
    line-height: 0;
    padding-bottom: 50px;
}

#susText p {
    margin-left: 200px;
    padding-top: 20px;
    text-align: right;
}

/* Footer */
.footerBanner {
    background-image: url(https://via.placeholder.com/1200x495/838383/efefef) ; 
    height: 495px;
    display: grid;
    align-items: end;
    justify-items: stretch;
    /* grid-template-rows: repeat(4 200px); */
}

.footerCon { 
    padding-top: 65px;
    padding-bottom: 30px; 
    background: #ffffffb6; 
    /* grid-row: 4/4; */
    display: flex;
    flex-direction: column;
    /* max-width: 1200px; */
    /* align-items:; */
}

#copyrights {
    /* grid-column: 5/10; */
    align-self: center;
    line-height: normal;
    /* flex: 0; */
}

#socials {
    /* grid-column: 6/8; */
    /* flex: 0; */
    align-self: center;
}

#socials ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    width: 400px;
    list-style: none;
    padding-inline-start: 0px;
}

/* MOBILE!!!! */

@media screen and (max-width: 400px) {
    /* font-family: 'Comfortaa', cursive;
font-family: 'Josefin Sans', sans-serif; */

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    line-height: 100px;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    line-height: 90px;
}
h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    /* line-height: 70px; */
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.hidden{ display: none;}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.grid-full{
    display: grid;
    grid-template-columns: 400px;
}

.grid {
    display: grid;
    padding: 0 15px;
    grid-template-columns: repeat(4, 50px);
    column-gap: 30px;
}

/* header */

.headerCon {height: 120px; }

#logo {
    grid-column: 2/4;
    margin-top: 12px;
}


/* HAMBURGER */
#main-nav{
    grid-column: 3/-1;
}


#main-nav label img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: all .5s ease;
    margin-bottom: 20px;
}

#main-nav input, #burger-con {
    display: none;
}

#main-nav input:checked ~ #burger-con {
    display: block;
}

#main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #626262;
}

#main-nav ul li {
     border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
    border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
    margin-bottom: 10px;
}
/* !!!! */

/* .mainNav {
    margin: 35px 0 25px 30px;
    grid-column: 7/-1;
}

menu {
    list-style-type: none;
    display: inline-flex;
}

menu li a {
    text-decoration: none;
    color: white;
    background: #666;
    border-radius: 35rem; 
    margin-left: 30px;
    padding: 1.66rem .83rem;
} */

/* main */

/*** hero ***/
.mainHero { height: 825px; }

.heroOverlay {
    background-image: url("https://via.placeholder.com/1200x800/b1b1b1/efefef");
    margin-top: -120px;
}

.heroOverImg {
    margin-top: 154px;
    margin-bottom: -30px;
    grid-column: 5/8;
    grid-row: 1/5;
}

.heroText {
    grid-column: 6/12;
    text-align: center;
    grid-row: 2/3;
    color: white;
}

/** backdrop **/

.backdrop {
    background-image: url("https://via.placeholder.com/1200x3082/b1b1b1/efefef");
}

/*** advert ***/

.adQuote { grid-column: 2/9;}

.adQuote h2 { margin-bottom: 0px;}

.commercial { grid-column: 2/12; }

/*** info ***/

.quatroInfoCon {
    background: #ffffff82;
    margin-top: 45px;
    padding-top: 115px;
}

.infoImg { grid-column: 2/6; }

.infoText {
    grid-column: 7/12;
    text-align: right;
}

.infoText h2 { 
    margin: 0;
}

.infoText h3 { 
    line-height: normal;
    margin: 0;
    padding: 0;
}


/*** flavour ***/

.flavHeadingCon {
    background: #ffffff82;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flavHeadingCon h2 {
    grid-column: 2/12;
    text-align: center;
}

.leftHang, .rightHang {
    width: 1200px;
    height: 220px;
}
.leftHang img {
    grid-column: 1/3;
    margin-top: -56px;
}
.rightHang img {
    grid-column: 10;
    margin-left: 70px;
    margin-top: -56px;
}
.flavTextLt {
    grid-column-start: 3;
    margin-left: 20px;
    align-self: left;
}

.flavTextRt {
    grid-column: 7;
    margin-right: 20px;
    text-align: right;
}

#textLito span1 {
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 90px;
    margin-left: 25px;
}

#textLito span2 {
    font-size: 120px;
    font-family: 'Comfortaa', cursive;
    margin-left: 60px;
}

.flavText {
    font-family: 'Comfortaa', cursive;
    font-size: 145px;
    line-height: 40px;

}

/*** Sustainable Packaging ***/

.sustainCon { 
    margin-top: 160px; 
    background: url("https://via.placeholder.com/515x705/838383/efefef") no-repeat;
    height: 705px;
}


#susText { 
    grid-column: 5/12;
}

#susText h2, h3 {
    text-align: right;
    line-height: 0;
    padding-bottom: 50px;
}

#susText p {
    margin-left: 200px;
    padding-top: 20px;
    text-align: right;
}

/* Footer */
.footerBanner {
    background-image: url(https://via.placeholder.com/1200x495/838383/efefef) ; 
    height: 495px;
    display: grid;
    align-items: end;
    justify-items: stretch;
    /* grid-template-rows: repeat(4 200px); */
}

.footerCon { 
    padding-top: 65px;
    padding-bottom: 30px; 
    background: #ffffffb6; 
    /* grid-row: 4/4; */
    display: flex;
    flex-direction: column;
    /* max-width: 1200px; */
    /* align-items:; */
}

#copyrights {
    /* grid-column: 5/10; */
    align-self: center;
    line-height: normal;
    /* flex: 0; */
}

#socials {
    /* grid-column: 6/8; */
    /* flex: 0; */
    align-self: center;
}

#socials ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    width: 400px;
    list-style: none;
    padding-inline-start: 0px;
}

}
